@import "materialize/components/color";
$primary-color: color("teal", "lighten-2") !default;
$secondary-color: color("red", "darken-1") !default;
@import 'materialize';
@import 'material_icons';

header, main, footer {
  padding-left: 200px;
}

.btn-android {
  position: fixed;
  right: 2em !important;
  bottom: 2em !important;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}


.btn-block {
  width: 100%;
}

.iep_image {
  width: 10rem;
  height: 10rem;
  margin-bottom: 3.5rem;
}
